body {
  margin: 0;
  font-family: figtree;
  font-variant-numeric: lining-nums;
}

html {
  scroll-behavior: smooth;
}

.d_none {
  display: none !important; /* "!important"," because some classes already contain display: flex */
}

h1 {
  font-size: 40px;
}

header {
  height: 140px;
  background: orange;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

main {
  display: flex;
}

.content_container {
  width: 100%;
}

.restaurant_head {
  display: flex;
  justify-content: center;
}

.restaurant_img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.overlapping_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 305px;
  border: 10px solid white;
}

.restaurant_details {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 12px 16px 12px;
}

.restaurant_rating {
  color: orange;
}

.category_selection {
  background: #f3f3f3;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 12px;
  margin: 12px 0 12px 0;
}

.category_selection p {
  cursor: pointer;
}

.category_selection p:hover {
  color: orange;
}

.dishes_layout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.dish {
  display: flex;
  justify-content: space-between;
  border: 2px solid #f3f3f3;
}

.dish:hover {
  background-color: rgba(247, 211, 166, 0.488);
}

.left_side {
  padding-left: 12px;
}

.price {
  color: orange;
  font-weight: bold;
}

.right_side {
  width: 60px;
  height: 60px;
  font-weight: lighter;
  border-left: solid 2px #f3f3f3;
  border-bottom: solid 2px #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
  background: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: orange;
}

footer {
  height: 120px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
