.basket_container {
  position: sticky;
  top: 0;
  width: 420px;
  padding-left: 12px;
  max-height: calc(100vh - 120px);
  box-shadow: -3px 0px 10px -2px rgb(0 0 0 / 20%);
  overflow-y: scroll;
}

.basket_headline {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.empty_basket {
  height: 250px;
  color: lightgrey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 12px;
}

.basket {
  width: 100%;
}

.basket_item {
  display: flex;
  flex-direction: column;
}

.basket_item h2 {
  margin: 0;
  font-size: 22px;
  padding-top: 12px;
}

.basket_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.change_amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  gap: 12px;
}

.total_amount {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

table {
  width: 100%;
  padding: 12px;
}

tr {
  height: 20px;
}

tr p {
  margin: 0;
}

td:first-child {
  width: auto;
}

td:nth-child(2) {
  text-align: end;
}

.show_basket_overlay {
  height: 70px;
  background-color: #3c7ad1;
  color: whitesmoke;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.basket_overlay_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  padding-left: 12px;
  position: fixed;
  top: 0px;
  right: 0;
  background-color: white;
}

.basket_overlay_headline {
  height: 70px;
  width: 100%;
  background-color: #3c7ad1;
  color: whitesmoke;
  margin-top: 12px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.basket_overlay {
  width: 100%;
}

.total_amount_overlay {
  width: 100%;
  margin-left: 24px;
}

.total_amount_overlay table {
  padding-left: 0;
}
