.basket_container {
  position: sticky;
  top: 0;
  width: 400px;
  flex-grow: 1;
  box-shadow: -3px 0px 10px -2px rgb(0 0 0 / 20%);
}

.basket_headline {
  text-align: center;
  border-bottom: solid 1px lightgrey;
}

.basket {
  border-bottom: solid 1px lightgrey;
  margin: 12px;
}

.basket_item {
  display: flex;
  flex-direction: column;
}

.basket_item h2 {
  margin: 0;
  font-size: 22px;
  padding-top: 12px;
}

.basket_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.change_amount {
  display: flex;
  align-items: center;
  gap: 12px;
}

.total_amount {
  margin: 12px;
}

table {
  width: 100%;
}

td:first-child {
  width: auto;
}

td:nth-child(2) {
  width: flexgrow(1);
  text-align: end;
}
